@keyframes rotateCircleOne {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes rotateCircleTwo {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
	}
}
