@use "colors" as *;

html {
	font-size: 62.5%;
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	background-color: $cold-steel;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

// header

.header {
	position: sticky;
	top: 0;

	.wrapper {
		.navbar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 70px;
			transition: box-shadow 0.5s;

			&__logo {
				transition: transform 0.3s;

				&-link {
					font-family: "Nunito", sans-serif;
					font-size: 2rem;
					font-weight: 600;
					color: $black;
					padding: 1em;
					text-transform: uppercase;
					text-decoration: none;
				}

				span {
					color: $orange;
				}

				&:hover {
					transform: scale(0.95);
				}
			}

			&__hamburger {
				display: block;
				padding: 1em;
				margin-right: 0.5em;
				cursor: pointer;

				.line {
					margin: 6px 0;
					height: 2px;
					width: 30px;
					background-color: $dark;
				}
			}

			&__menu {
				display: flex;
				align-items: center;
				position: absolute;
				top: 70px;
				height: 0;
				width: 100%;
				transition: all 0.4s;
				overflow: hidden;

				&-list {
					display: block;
					margin: 30px auto 30px auto;
					width: fit-content;
					text-align: center;
					list-style-type: none;
					opacity: 0;
					transition: opacity 0.4s;

					&-item {
						margin: 2.5em 0;

						&-link {
							padding: 1em 2em;
							font-family: "Nunito", sans-serif;
							color: $black;
							text-decoration: none;
							transition: color 0.3s;

							&:hover {
								color: $orange-darker;
							}
						}
					}
				}

				.show-list {
					opacity: 1;
				}
			}
		}

		.show-shadow {
			box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
				rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
		}

		.show-menu {
			height: 400px;
			border-bottom: 1px solid $orange-darker;
		}

		.heading {
			font-family: "Montserrat", sans-serif;
			font-size: 2.5rem;
			font-weight: 600;
			text-transform: uppercase;
			text-align: center;
			color: rgb(30, 30, 30);
		}

		.hero-section {
			height: 650px;
			width: 100%;
			background-color: rgb(255, 255, 136);

			.image-box {
				// width: 100%;

				img {
					width: 100%;
					filter: brightness(70%);
				}
			}

			.text-box {
				padding: 1em;
			}
		}
	}
}
