@use "colors" as *;

@media (min-width: 768px) {
	.header {
		.wrapper {
			.navbar {
				&__logo {
					&-link {
						font-size: 2.1rem;
						padding: 1em 1.5em;
					}
				}

				&__hamburger {
					padding: 1.5em;
				}

				&__menu {
					&-list {
						&-item {
							&-link {
								font-size: 1.8rem;
							}
						}
					}
				}
			}

			.hero-section {
				height: 850px;

				.image-box {
					height: 400px;

					img {
						height: 100%;
						filter: brightness(75%);
					}
				}

				.text-box {
					padding: 3em 8em;

					.heading {
						font-size: 2.8rem;
					}

					&__description {
						font-size: 1.7rem;
					}

					.cta-button {
						padding: 0.8em 1.6em;
						font-size: 1.8rem;
					}
				}

				.circle-one,
				.circle-two {
					width: 140px;
					height: 140px;
					opacity: 0.3;
				}

				.circle-one {
					right: -5%;
					bottom: 5%;
				}

				.circle-two {
					left: -5%;
					bottom: 25%;
				}

				.inner-circle-first,
				.inner-circle-second {
					width: 40px;
					height: 40px;
				}
			}
		}
	}

	.main {
		.waves-1 {
			height: 60px;
		}

		.waves-2 {
			height: 80px;
		}

		.shops {
			.shops-box {
				margin-top: 1.25em;

				&__shop {
					height: 200px;
					width: 55%;
					transition: transform 0.3s;

					.company {
						width: 70%;
					}

					&:hover {
						transform: scale(1.05);
					}
				}
			}
		}

		.about-info {
			.wrapper {
				.about-box {
					.about-info {
						padding: 0 3em;
						font-size: 1.7rem;
					}

					.about-photos {
						flex-direction: row;
						padding: 0 3em;

						&__photo {
							width: 45%;
							border-radius: 0;
							box-shadow: none;

							&--second {
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		.wrapper {
			.navbar {
				border-bottom-left-radius: 25px;
				border-bottom-right-radius: 25px;
				background-color: rgba(255, 255, 255, 0);

				&__logo {
					width: 30%;

					&-link {
						width: 100%;
					}
				}

				&__hamburger {
					display: none;
				}

				&__menu {
					position: static;
					justify-content: flex-end;
					height: 100%;
					background-color: rgba(255, 255, 255, 0);
					border-bottom-right-radius: 25px;

					&-list {
						display: flex;
						margin: 0;
						background-color: rgba(255, 255, 255, 0);
						opacity: 1;

						&-item {
							margin: auto 0;

							&-link {
								position: relative;
								display: block;
								padding: 0.9em 1.6em;
								margin: 0 0.25em;
								font-size: 1.7rem;
								z-index: 0;
								transition: color 0.3s;

								&::after,
								&::before {
									transition: all 0.3s;
								}

								&::after {
									content: "";
									position: absolute;
									left: 0;
									top: 0;
									height: 0;
									border-bottom-left-radius: 15px;
									border-bottom-right-radius: 15px;
									width: 100%;
									background-color: $dark;
									z-index: -1;
								}

								&:hover {
									color: $orange;
								}

								&:hover::after {
									height: 100%;
								}
							}
						}
					}
				}
			}

			.hero-section {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 700px;
				overflow: visible;

				.image-box {
					width: 40%;
					height: 370px;
					order: 2;

					img {
						filter: brightness(90%);
					}

					&__mobile {
						display: none;
					}

					&__desktop {
						display: block;
						border-top-left-radius: 50px;
						border-bottom-left-radius: 50px;
						border-left: 1px solid $dark;
						border-bottom: 1px solid $dark;
						border-top: 1px solid $dark;
						box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
							rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
					}
				}

				.text-box {
					padding: 0 1em;
					width: 40%;
					order: 1;
					text-align: left;

					.heading,
					&__description {
						text-align: left;
					}

					.heading {
						font-size: 4.5rem;
					}

					&__description {
						font-size: 1.8rem;
					}

					.cta-button {
						margin-top: 4em;
						padding: 0.8em 2em;
						font-size: 2rem;
						border-radius: 50px;
						-webkit-box-shadow: 20px 16px 43px -12px rgba(183, 183, 183, 1);
						-moz-box-shadow: 20px 16px 43px -12px rgba(183, 183, 183, 1);
						box-shadow: 20px 16px 43px -12px rgba(183, 183, 183, 1);
					}
				}

				.circle-one,
				.circle-two {
					height: 175px;
					width: 175px;
					opacity: 0.6;
				}

				.circle-one {
					right: 35%;
				}

				.circle-two {
					top: 15%;
				}

				.inner-circle-first {
					top: 33px;
					left: 33px;
				}

				.inner-circle-second {
					bottom: 30px;
					right: 30px;
				}
			}

			.show-shadow {
				box-shadow: none;
			}
		}
	}

	.main {
		.section-title {
			&::after {
				height: 2px;
				width: 8%;
			}
		}

		.waves-1 {
			height: 90px;
		}

		.waves-2 {
			height: 100px;
		}

		.shops {
			margin-top: 5em;

			.shops-box {
				flex-direction: row;
				flex-wrap: wrap;
				padding-bottom: 5em;
				margin-top: 3em;

				&__shop {
					margin: 2.5em 2em;
					width: 325px;
				}
			}
		}

		.about-info {
			.wrapper {
				.about-box {
					flex-direction: row;
					margin-top: 2em;

					.about-info {
						width: 45%;

						&__description {
							line-height: 1.5em;
						}
					}

					.about-photos {
						flex-direction: column;
						align-items: flex-start;
						padding: 0;
						width: 55%;

						&__photo {
							width: 60%;

							&--second {
								margin-top: -4em;
								align-self: flex-end;
								border: 8px solid $cold-steel;
							}
						}
					}
				}
			}
		}
	}
}
